.Header{
    border: solid 2px rgb(8, 0, 255);
    display: flex;
    justify-content: space-evenly;
    
}

.Header-Logo{
    display: inline
}

.Header-Title{
    display: inline;
    margin: 5px;
}

.Header-UserBox{
    display: flex;
} 

.Header-UserBox-Avtr{
    display: flex;
    margin: 5px;
}

.Header-UserBox-User{
    display: flex;
}

.Header-UserBox-Avtr{
    display: flex;

}

.Header-UserBox-Use{
    display: flex;
}