.Header 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        background: #ffffff;
        border-bottom: 1px solid #e5e7eb;
        padding: 0.4rem 1.5rem;
        position: sticky;
        top: 0;
        z-index: 1000;
        margin: 0.4rem;
        transition: all 0.2s ease;
      
}

.Header-left
    {
        display: flex;
        align-items: center;
        gap: 1.4rem;
    }

.Header-Logo 
    {
        height: 60px;
        width: auto;
    }

.Header-Title 
    {
        font-size: 1.8rem;
        font-weight: 600;
        margin: 0;
        /* color: #d8100d; */
        letter-spacing: -0.02em;
    }
.Header-Title span {
  color: #eb2525; 
}

.Header-UserBox
    {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.3rem 0.7rem;
        background: #f3f4f6;
        border-radius: 999px;
    }