.Header 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem, 1.5rem;
        background: #ffffff;
        border-bottom: 1px solid #e5e7eb;
}

.Header-Title 
    {
        font-size: 1.8rem;
        margin: 0;
        color: #111827;
    }

/* .Header{
    border: solid 2px rgb(2, 2, 7);
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
    margin: 8px;
    
}

.Header-Logo{
    display: inline
}

.Header-Title{
    display: inline;
    margin: 5px;
}

.Header-UserBox{
    display: flex;
} 

.Header-UserBox-Avtr{
    display: flex;
    margin: 5px;
}

.Header-UserBox-User{
    display: flex;
}

.Header-UserBox-Avtr{
    display: flex;

}

.Header-UserBox-Use{
    display: flex;
} */