.Nav-Bar{
      border: solid 2px rgb(2, 2, 7);
    /* display: flex; */
    justify-content: space-evenly;
    border-radius: 8px;
    margin: 8px;}

.Nav-Bar-Links{
    display: flex;
}

.Nav-Bar-Link{
    display: inline;
    margin: 15px;
    padding: 15px; 
}

.Nav-Bar-Topics-Drop{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    padding-left: 18%;
    border: soild 1px rgb(0, 255, 170);

}