.Nav-AllTopics{
    display: inline;
    margin: 5px;
    padding: 5px; 
}

.Nav-AllArticles{
    display: inline;
    margin: 5px;
    padding: 5px;
}

.Nav-APIInfo{
    display: inline;
    margin: 5px;
    padding: 5px;
}

.Nav-OtherLink{
    display: inline;
    margin: 5px;
    padding: 5px;
}