.Nav-Bar{
    display: flex;
    justify-content: space-evenly;
}

.Nav-Bar-Link{
    display: inline;
    margin: 5px;
    padding: 5px; 
}

/* .Nav-AllArticles{
    display: inline;
    margin: 5px;
    padding: 5px;
}

.Nav-APIInfo{
    display: inline;
    margin: 5px;
    padding: 5px;
}

.Nav-OtherLink{
    display: inline;
    margin: 5px;
    padding: 5px;
} */